@using Umbraco.Forms.Web
@model Umbraco.Forms.Web.Models.FieldViewModel

@{
    var settings = Model.AdditionalSettings;
    var hasCaption = settings.ContainsKey("Caption") && !string.IsNullOrEmpty(settings["Caption"]);
    var hasBody = settings.ContainsKey("BodyText") && !string.IsNullOrEmpty(settings["BodyText"]);
    var captionTag = Model.GetSettingValue<string>("CaptionTag", "h2");
}

<div id="@Model.Id" data-umb="@Model.Id" class="@Html.GetFormFieldClass(Model.FieldTypeName)">
    @if (hasCaption)
    {
        @Html.Raw("<" + captionTag + ">")@settings["Caption"]@Html.Raw("</" + captionTag + ">")
    }
    @if (hasBody)
    {
        <p>@Html.Raw(settings["BodyText"].Replace("\r\n", "\n").Replace("\r", "\n").Replace("\n", "<br />"))</p>
    }
</div>