@model Umbraco.Forms.Web.Models.FieldViewModel


@{ var i = 0; }


<div class="row" id="@Model.Id" data-umb="@Model.Id">

    @foreach (var pv in Model.PreValues)
    {
        <div class="col-12 col-md-6 button-list-item-container">
            <label class="w-100 text-center">
                <input type="radio"
                       name="@Model.Id"
                       id="@string.Concat(Model.Id, "_", i)"
                       data-umb="@string.Concat(Model.Id, "_", i)"
                       value="@pv.Value"
                       @if (Model.Mandatory)
                       {
                           <text>data-val="true" data-val-required="@Model.RequiredErrorMessage" data-rule-required="true" data-msg-required="@Model.RequiredErrorMessage"</text>
                       }
                       @if (Model.ContainsValue(pv.Value))
                       {
                           <text>checked="checked"</text>
                       }/>

                @pv.Caption
            </label>

        </div>

        i++;
    }
</div>